#root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0 !important;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding: 4rem;
  text-align: center;
  color: rgb(212, 219, 221);
  background-color: #213547;
  --btn-background: #83adb9;
  --background: #5294a6;
  --btn-text: rgb(212, 219, 221);
}

.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 9em;
}

.knewave-signup {
  font-family: "Knewave", system-ui;
  font-size: 1.5em;
}

.knewave-input {
  font-family: "Knewave", system-ui;
}

.filmpop-container {
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
}

.login-signup {
  display: flex;
  justify-content: end;
}

body {
  place-items: top;
  background-color: #213547;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-form {
  margin-bottom: 1.5em;
}

/* Space between the dropdowns */
.two.fields {
  display: flex;
  justify-content: center;
  gap: 1rem;
  
}

/* Equal width for both dropdowns */
.field {
  flex: 1;
  
}

.dropdown {
  padding: 10px;
  border-radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--btn-text) !important;
  background-color: var(--btn-background) !important;
}

.btn-find-movies {
  color: var(--btn-text) !important;
  background-color: var(--btn-background) !important;
  font-weight: 600 !important;
  font-size: 24px !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

@media (max-width: 820px) {
  .filmpop-container {
    font-size: 58%;
  }

  .filmpop-logo {
    width: 16%;
  }

  .dropdown {
    padding: 6px;
    font-size: 14px;
  }

  .btn-find-movies {
    font-size: 18px;
  }
}